.inlineContainer {
  margin: 10px auto;
}

.reviewsHeading {
  font-size: 24px;
  font-weight: 700;
  color: #2D2E3A;
  border: 0;
}

.loginLink {
  color: #184077;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
}

.stars,
.star--filled,
.star--filled {
  color: #FFB100;
}

.star--empty {
  color: #FFB100;
}

.reviewsHeading {
  border: none;
}
