.listPrice {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
}

.sellingPrice {
  color: #d61016;
  font-size: 24px;
  font-weight: 700;
}

.sellingPriceValue {
  font-size: 24px;
  font-weight: 700;
}

.sellingPrice--summary {
  color: #fff;
}
.measurementUnit--summary {
  font-size: .9rem;
  color: #d61016;
}
.measurementUnit--summary::before {
  content: "/";
  color: #d61016;
}

.installments {
  display: block;
  color: #385A83;
  font-size: 14px;
}

.installmentValue {
  font-weight: 700;
}

.savings {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #4CAF50;
}

.savingsValue {
  font-weight: 400;
}

.sellingPriceValue--summary {
  font-weight: 700;
  color: #2E2E2E;
}

.savings--summary {
  align-items: center;
  background: #D61016;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 2px;
  text-align: center;
  width: 50px !important;
  z-index: 800;
}

.savings-discount--summary {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: baseline;
}

.listPrice--summary {
  margin-bottom: -7px;
  font-size: .875rem;
}

.installments--summary {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #385a83;
}

.interestRate {
  display: none;
}

.listPrice--summary {
  align-self: center;
}

.listPriceValue--summary .currencyContainer--summary {
  color: #989898;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.listPriceValue--summary .currencyContainer--summary::before {
  content: "de ";
}

.sellingPriceValue--summary .currencyContainer--summary {
  color: #d61016;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.sellerNameContainer {
  color: #727273;
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
  text-transform: initial;
}
/* Teste */
.sellerName {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: none;
}

.sellerName {
  text-transform: uppercase;
  font-weight: 400;
}
/* Teste */
.installmentsNumber--summary::after {
  content: "x";
}
.installmentsNumber--summary {
  font-weight: 700;
}


@media (max-width:600px) {
  .savings--summary{
    margin-left: 0;
    height: 25px;
    display: inline-flex;

  }
}