.quantitySelector {
  width: auto;
}
.quantityDropdownContainer :global(.vtex-styleguide-9-x-container) {
  font-size: 12px !important;
}

@media screen and (max-width: 39.9em) {
  .quantitySelector {
    width: auto;
  }
}

@media screen and (max-width: 767px){
  .quantitySelectorContainer{
    margin-right: 10px;
  }

  .productPriceContainer .productPrice .price {
    font-size: 13px;
  }
}

.productImage {
  max-height: 165px;
  width: auto;
}