.openIconContainer {
  padding: 0;
}

.drawerHeader {
  background-color: #eee;
}

.drawerContent--menuMktplace {
  flex-grow: 1;
}

.childrenContainer--menuMktplace {
  height: 45%;
}

.drawerContent--menuMktplace {
  background-color: #eee;
}
