.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: 0.75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0, 0, 0, 0.64);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview)
  .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}

.headerContent :global(.vtex-rich-text-0-x-container--newsTitle) {
  width: auto;
  margin: 0 auto;
}

.headerContainer {
  justify-content: center;
}
.closeButtonContainer {
  justify-self: flex-end;
}

.modal--modalTriggerWhats {
  inset: unset !important;
  top: 26% !important;
}
.backdropContainer--modalTriggerWhats {
  position: absolute;
}
.hiddenContainer {
  overflow: auto !important;
  padding: 0 !important;
}

.paper--modalTriggerWhats {
  width: 250px;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgb(190 190 190 / 75%);
  background-color: #f5f5f5;

  overflow: visible;
}

.closeButton--closeWhats {
  position: relative;
  top: -5px;
  left: -5px;
  height: 20px;
  width: 25px !important;
  border-radius: 100%;
  background: #184077;
  border: none;
  color: #fff;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 11px;
  min-height: 25px;
}
.closeButtonLabel--closeWhats {
  padding: 0;
}

.backdropContainer--modalTriggerWhats {
  background: transparent;
  opacity: 0 !important;
}

.modal--modalTriggerWhats {
  width: 100%;
  height: 100%;
  top: 0px !important;
}

.container--modalTriggerWhats {
  left: 0;
  justify-content: left;
  position: absolute;
  left: 15px;
  top: -90px;
}

@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}

@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
