.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.footerLayout {
  margin-top: 50px;
}

.footerLayout :global(.vtex-rich-text-0-x-paragraph--menu-footer-titulo) {
  cursor: default;
  font-weight: 700;
  font-size: 14px;
  color: #184077;
  margin: 6px 0 16px;
}

@media (max-width: 1025px) {
  .footerLayout :global(.vtex-flex-layout-0-x-flexRow--newsletter) :global(.vtex-store-components-3-x-container) {
    width: 100%;
  }
}
