:global(html) {
  scroll-behavior: smooth;
}
:global(.vtex-account) {
  max-width: 1250px;
  margin: 0 auto;
}

:global(.vtex-account) :global(.vtex-my-account-1-x-menuLink) {
  margin-top: 65px;
}

:global(.vtex-account__page) {
  background: #fff;
  position: relative;
  z-index: 1;
}

.userGreeting {
  margin-top: 10px;
  font-size: 12px;
}

.userName {
  font-size: 12px;
}

.userImage {
  display: block;
  width: 100%;
}

.undefined {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--miniBannerBlack) .flex {
  flex-basis: 33%;
}

/* LANDING PAGE MARKETPLACE */
:global(.mktplaceStepDesc) {
  font-size: 16px;
}
:global(span.diffDescContainer) {
  word-break: break-word;
  font-weight: 900;
  font-size: 2.25rem;
  letter-spacing: -3px;
  position: relative;
  width: 100%;
  height: 50%;
}

:global(img.mktplaceSocial){
  max-height: 45px;
}
@media screen and (max-width: 720) {
  .userInfo {
    justify-content: center;
  }
  .userImage {
    text-align: center;
  }
}
