.marketplace-form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #184077;
  text-align: center;
  margin: 0 0 8px;
}

.marketplace-form-description {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #184077;
  width: 40%;
  margin: 0 auto 24px;
}

.marketplace-form-content {
  padding: 30px;
  border-radius: 3px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.form-content span {
  text-align: center;
  line-height: 3;
  font-weight: 700;
  color: #de0808;
  width: 75%;
  border: none;
  height: 40px;
  padding: 0 16px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
  /* margin-bottom: 12px; */
}
.form-content-input {
  width: 100%;
  margin: 10px 0 0 0px;
  display: flex;
  align-items: center;
}
.form-content-input label {
  font-size: 16px;
  color: #595959;
  margin-bottom: 0px;
  margin-right: 20px;
  display: block;
  white-space: nowrap;
  font-weight: 500;
  line-height: 19px;
}
.form-content-input label input {
  width: 20px;
  height: 20px;
}
.form-content input,
.form-content select {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #939598;
  background-color: #ede8e8;
  font-weight: 350;
}

.form-content input::placeholder,
.form-content select::placeholder {
  color: #ccc;
  font-size: 12px;
}
.form-content button {
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  width: 40%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  margin: 30px auto;
  border: 0;
  padding: 10px 0;
  font-size: 16px;
  max-width: 100%;
  font-weight: 700;
  background-color: #005785;
}

.form-content input#Mensagem {
  height: 80px;
}

.form-content.disabled input {
  background: gainsboro;
  pointer-events: none;
}

.form-content input {
  margin: 0 20px;
}

form.form-content.false {
  max-width: 80rem;
}

.modalSubmittedContainer {
  position: fixed;
  z-index: 1000;
  top: 0;

  height: 100vh;
  width: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.cardTitle {
  display: flex;
  align-items: center;
}
.cardTitle h1 {
  color: #003e5e;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.cardTitle img {
  max-width: 250px;
}
.modalSubmittedContent {
  position: absolute;
  top: 20%;
  padding: 1.5rem;

  width: inherit;
  height: inherit;
}

.modalSubmittedCard {
  background-color: #f8faff;
  position: relative;
  border-radius: 13px;
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modalSubmittedClose:hover {
  cursor: pointer;
}
.modalSubmittedClose {
  position: absolute;
  padding: 0.5rem;
  top: 35px;
  right: 35px;
  font-size: 2rem;
  font-weight: 500;
  color: #595959;
}

.modalSubmittedContainer.hidden {
  display: none;
  visibility: hidden;
}

.cardMessage {
  text-align: center;
  color: #595959;
}


@media screen and (max-width: 640px) {
  .cardTitle {
    flex-wrap: wrap;
    justify-content: center;
  }


}
@media screen and (max-width: 768px) {
  .marketplace-form-title {
    margin-top: 20px;
  }
  .form-content button {
    margin-bottom: 50px;
  }
  .vtex-rich-text-0-x-container--title-item-benefits {
    margin: 0 20px;
  }
  .form-content-input {
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-content-input label {
    margin-bottom: 10px;
  }
  .marketplace-form-description {
    width: 80%;
  }

  .form-content input {
    margin: 15px 0px;
  }
}
