.flexRow--main-header-menu-desktop {
  background-color: #2a2a2a;
}

.flexRow--payment-security-desktop,
.flexRow--menu-row-footer,
.flexRow--text-footer,
.flexRow--credits {
  background-color: #fff;
}

.flexRowContent--seo-container {
  padding-left: 0 10px;
  padding-right: 1rem;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.flexRowContent--shelf-container {
  border: solid 3px #d61016;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
}

.flexRowContent--searchtitle
  :global(.vtex-search-result-3-x-galleryTitle--layout),
.flexRowContent--searchTriggerRow {
  color: #000;
}

.flexRowContent--highlightsAll {
  height: 285px;
}

.flexColChild--selosContainer {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 60px;
  display: flex;
  align-items: flex-end;
}

:global(.vtex-stack-layout-0-x-stackContainer--product)
  .flexColChild--selosContainer {
  position: static;
}
:global(.vtex-stack-layout-0-x-stackContainer--product)
  .flexRowContent--highlightsAll {
  height: auto;
  position: static;
}
@media screen and (max-width: 1025px) {
  .flexRowContent--shelf-container {
    padding: 0;
  }
  .flexRowContent--seo-container {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--main-header-mobile-search-bar {
    background-color: #1a1a1a;
    padding: 10px 0;
  }

  .flexRowContent--highlightsAll {
    height: 60%;
  }
}
@media screen and (max-width: 450px) {
  .flexRowContent--highlightsAll {
    height: 50%;
  }
}
