.imageElement--customBadge {
  max-height: 60px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .imageElement--customBadge {
    max-width: 45px;
    max-height: 45px;
    margin-right: 5px;
    bottom: -60px;
  }
}
