.product-price-calc, .product-price {
    color: #d61016;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
}
.product-price-calc .caixa {
    font-size: 14px;
    display: flex;
    margin: 3px 0 10px;
    color: #707070;
}

.product-price-calc p {
    display: flex;
    margin: 0;
    align-items: center;
}

span.product-price__measurementUnit {
  color: #385a83;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
/* .product-price__measurementUnit, .product-price .product-price-calc .caixa {
    display: none;
} */
.spot-product-price {
  position: relative;
}
.spot-message {
  margin: 0 5px;
}
.spot-savings {
  font-size: 10px;
  color: #2a2a2a;
  display: flex;
  align-items: center;
}
