.heading--mktplaceTitleDiferencial,
.paragraph--diffDesc,
.heading--mktplaceSteps {
  color: #fff;
}

.heading--mktplaceTitleComoFunciona,
.heading--mktplaceTitleFaq {
  color: #004061;
  font-weight: 900;
}

.heading--leadTitle {
  color: #003e5e;
}

.wrapper--diferencialDescLeft {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0 5px 5px 0;

  max-width: 90%;
}

.wrapper--diffDesc .heading,
.wrapper--diffDesc .paragraph {
  margin: 0;
}

.wrapper--diffDesc .headingLevel2--diffDesc,
.wrapper--diffDesc .headingLevel3--diffDesc,
.wrapper--diffDesc .paragraph {
  color: #fff;
  text-align: center;
}
.wrapper--diffDesc .headingLevel2--diffDesc {
  font-size: 4.4rem;
}
.wrapper--diffDesc .headingLevel3--diffDesc {
  font-size: 2rem;
}
.wrapper--diffDesc .paragraph {
  font-weight: 500;
}
.container--diffDesc {
  position: relative;
  z-index: 2;
}
/* .container--diffDesc::after {
  content: "";
  width: 130px;
  height: 130px;
  background-color: #c54952;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.container--diffDesc::before {
  content: "";
  width: 65px;
  height: 65px;
  background-color: #043868;
  border-radius: 100%;

  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 85px;
} */

.container--diffDesc {
  height: inherit;
}
.wrapper--diffDesc {
  height: inherit;
  flex-grow: 1;
}

.heading--mktplaceSteps {
  margin: 10px 0;
}

.heading--mktplaceBenefitsTitle {
  color: #b5474f;
  font-weight: 900;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper--mktplaceBenefitsTitle {
  width: 100%;
  position: relative;
}

.heading--mktplaceBenefitsTitle::before,
.heading--mktplaceBenefitsTitle::after {
  content: "";
  background-color: #69141a;
  display: block;
  width: 30%;
  height: 17px;
  position: relative;
}

.heading--mktplaceBenefitsTitle::before {
  left: 0;
}
.heading--mktplaceBenefitsTitle::after {
  right: 0;
}

/* .wrapper--trophy::before {
  content: url(assets/cassol-marketplace/trofeu.png);
  display: block;
  max-width: 100px;
  position: relative;
  left: 70%;
} */

.wrapper--mktplaceBenefitsTitle {
  padding: 2rem 0;
}
@media screen and (max-width: 1025px) {
  .wrapper--diffDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper--trophy::before {
    position: relative;
    left: 65%;
  }
}

@media screen and (max-width: 420px) {
  .heading--mktplaceBenefitsTitle::before,
  .heading--mktplaceBenefitsTitle::after {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .container--mktplaceTitleFaq {
    justify-content: center;
  }
  .wrapper--mktplaceBenefitsTitle {
    margin: 20px 0;
  }
  .container--diffDesc::before {
    right: 0;
  }
}

@media screen and (max-width: 1280px) {
  .paragraph--mktplaceFaqAnswer {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .paragraph--mktplaceFaqAnswer {
    font-size: 14px;
  }
}
