.flexRow--mktplaceSection {
  padding: 2.5rem 0;
}
.flexRow--diffSection {
  background-color: #91272f;
}
.flexCol--diffRight {
  flex-direction: row;
}

.flexRowContent--customBg {
  position: relative;
  z-index: 5;
}

.flexRowContent--customBg::before {
  content: "";
  position: absolute;
  background-color: #2c79a7;
  background: linear-gradient(
    180deg,
    rgba(0, 87, 133, 0.8) 0%,
    rgba(44, 121, 167, 0.8) 100%
  );
  width: 100%;
  height: 30%;
  z-index: -1;
  top: 40%;
}

.flexCol--stepsDescContainer {
  margin: 0 5%;
  max-height: 590px;
}

.flexRow--mktplaceBenefits,
.flexRow--mktplaceLeadSection {
  background-color: #f9f9f9;
}

/* Benefits */

.flexRowContent--benefitsItemsContainer {
  justify-content: space-around;
  align-items: center;
}
.flexCol--benefitCard {
  background-color: #fff;
  position: relative;
  border-radius: 15px;

  justify-content: center;

  width: 290px;
  height: 140px;
  max-width: 290px;
  padding: 1.5rem;

  margin: 10px;
}

.flexColChild--benefitCard :global(.vtex-store-components-3-x-imageElement) {
  max-width: 55px;
  max-height: 55px;

  position: absolute;
  top: -20px;
  left: -10px;
}
.flexRowContent--benefitsRight
  :global(.vtex-store-components-3-x-imageElement) {
  max-height: 460px;
}

.flexRowContent--questionContainer {
  flex-direction: column;
}
.flexRow--questionContainer {
  display: flex;
}
.flexRow--questionContainer .stretchChildrenWidth {
  flex-grow: 1;
}
.flexRowContent--questionContainer .stretchChildrenWidth:first-child {
  max-height: 60px;
}

.flexRow--questionContainer {
  flex-basis: 25%;
  max-width: 380px;
  margin: 1rem;
}
.flexColChild--mktplaceQuestions {
  display: flex;
  flex-wrap: wrap;
}

.flexRowContent--mktplaceFaqSection {
  max-width: 95%;
  margin: 0 auto;
}

.flexRow--faqIcon {
  margin: 0 10px;
}

.flexRowContent--faqIcon {
  color: #1a79ab;
}

.flexRow--mktplaceFaqSection {
  position: relative;
  z-index: 2;
}
.flexRowContent--mktplaceFaqSection::before {
  content: "";
  width: 30%;
  border-radius: 0;
  position: absolute;
  height: 70%;
  bottom: 0;
  left: -10%;
  z-index: -1;
  background-image: url(assets/cassol-marketplace/pink-egg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.flexCol--diffRight .flexColChild--diffRight {
  flex-grow: 3;
}

@media screen and (max-width: 1025px) {
  .flexRowContent--differ {
    flex-wrap: wrap;
  }
  .flexRowContent--differ .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexColChild--diffRight {
    margin: 1.5rem 0;
  }

  .flexCol--benefitsRight {
    display: none;
  }
  .flexColChild--mktplaceQuestions {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .flexRowContent--benefitsCardContainer,
  .flexRowContent--benefitsItemsContainer {
    flex-direction: column;
  }

  .flexRowContent--benefitsItemsContainer .stretchChildrenWidth {
    width: 100% !important;
  }
  .flexCol--benefitCard {
    margin: 10px auto;
  }
}
@media screen and (max-width: 625px){
  .flexRowContent--customBg::before{
    height: 38%;
    top: 63%;
  }
}
@media screen and (max-width: 768px) {
  .flexRowContent--customBg::before{
    height: 38%;
    top: 63%;
  }

  .flexCol--diffRight {
    flex-direction: column;
  }
  .flexColChild--diffRight {
    width: 100%;
  }
  .flexRowContent--benefitsRight {
    display: none;
  }

  .flexColChild--benefitCard :global(.vtex-store-components-3-x-imageElement) {
    left: 40%;
  }

  .flexRowContent--mktplaceFaqSection::before {
    content: "";
    background-image: none;
  }

  .flexColChild--mktplaceQuestions {
    flex-direction: column;
    align-items: center;
  }
}
